<h1></h1>


<div class="content">

    <h1>Create a New Album</h1>

    <form action="<%= albums_url %>" method="POST">
        <%= auth_token %>
        <input type="hidden"
               name="album[band_id]"
               value="<%= @album.band_id %>">

        <label for="album_name">Album Name</label>
        <input type="string"
               id="album_name"
               name="album[title]"
               value="<%= @album.title %>">

        <br/>
        <br/>

        <label for="album_year">Album Year</label>
        <input type="string"
               id="album_year"
               name="album[year]"
               value="<%= @album.year %>">

        <br/>
        <br/>

        <input type="checkbox" 
               name="album[live]"> Live Recording?<br>

        <br/>
        <br/>

        <input type="submit" value="Rock N'Roll!">

    </form>

</div>